<div class="container">
    <div class="containierHead">
        <h1 style="color: red;font-weight: bold;font-family: 'Times New Roman', Times, serif;" class="is-size-2">
            Add-on Activities
        </h1>
        <br>
        <div class="links">
            <a href="./blended">
                <h2 style="color:#8B0000;font-family:'Times New Roman', Times, serif;font-size: xx-large;">Blended
                    Teaching</h2>
            </a>
            <a href="./guest">
                <h2 style="color:#8B0000;font-family:'Times New Roman', Times, serif;font-size: xx-large;">Guest Lecture
                </h2>
            </a>
            <a href="./alumini">
                <h2 style="color:#8B0000;font-family:'Times New Roman', Times, serif;font-size: xx-large;">Alumini
                    Lecture</h2>
            </a>
            <a href="./mooc">
                <h2 style="color:#8B0000;font-family:'Times New Roman', Times, serif;font-size: xx-large;">MOOC Session
                </h2>
            </a>
            <a href="./industry">
                <h2 style="color:#8B0000;font-family:'Times New Roman', Times, serif;font-size: xx-large;">Industry
                    Expert Lecture</h2>
            </a>
            <a href="./modify">
                <h2 style="color:#8B0000;font-family:'Times New Roman', Times, serif;font-size: xx-large;">Modify Values</h2>
            </a>
        </div>
    </div>
</div>